@model IEnumerable<MusicR8r.Areas.Admin.Models.GenreViewModel>
@using Kendo.Mvc.UI;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        a {
            color: white;
        }
        a:hover {
            color: white;
        }
        button > a:hover {
            text-decoration: none;
        }
        button > a {
            font-size: x-large
        }
    </style>
</head>
<body>
    <button type="button" class="btn btn-success" >@Html.ActionLink("+", "Create")</button>
        
</body>
</html>


@(Html.Kendo().Grid(Model)
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Name).Title("Genre name");
                    columns.Bound(p => p.SongsCount).Title("Songs");
                    columns.Template(c => @Html.ActionLink("Delete Genre", "Delete", new { id = c.Id }));
                })
                .Pageable()
                .Sortable()
                .HtmlAttributes(new { style = "height:70%;" })
)

